<section class="section about" id="#about-us-section">
  <div class="container about-container">
    <div class="about-intro">
      <picture class="about-picture">
        <source
          media="(min-width: 1280px)"
          srcset="
            /src/img/images/team-desk-1x.jpg 1x,
            /src/img/images/team-desk-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /src/img/images/team-tab-1x.jpg 1x,
            /src/img/images/team-tab-2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /src/img/images/team-mob-1x.jpg 1x,
            /src/img/images/team-mob-2x.jpg 2x
          "
        />
        <img
          class="about-img"
          src="/src/img/images/team-mob-1x.jpg"
          alt="People collaborating"
          width="280"
          height="168"
        />
      </picture>
      <img
        class="about-icon"
        src="/src/img/images/symbol-defs.svg#icon-logo"
        alt="Decorative icon"
        width="64"
        height="64"
      />
    </div>
    <div class="about-content">
      <h2 class="about-title">About <br />ArtistsHub</h2>
      <p class="about-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
