<section class="artists-blog" id="artists-section">
    <div class="container artists-markup">
        <div class="wrapper-title">
            <h1 class="title-blog">Artists</h1>
            <h2 class="subtitle-blog">Explore Your New Favorite Artists</h2>
        </div>
    
          <div class="content">
                <div class="card-grid" id="card-grid">
                <ul class="list-cards">
                    <li class="artist-card">...</li>
                </ul>
                </div>
                <div class="reference"></div>
                     <button id="load-more" class="load">
                        <svg class="btn-icon">
                            <use href="./img/images/symbol-defs.svg#icon-down-arrow-alt"></use>
                        </svg>
                          <span class="text">Load More</span>
                      </button>
          </div>
      </div>
</section>




   





 
     
    
