<section class="artists" id="artists-section">
  <div class="container artists-container">
    <h2 class="artists-title">Artists</h2>
    <p class="artists-subtitle">Explore Your New Favorite Artists</p>

    <div class="artists-card-content">
      <div class="loader-wrapper visually-hidden">
        <span class="loader"></span>
      </div>
      <ul class="artists-card-list">
        <li class="artists-card-item">
          <img class="artists-image"
            src="https://ftp.goit.study/img/musicbox/artist/strArtistThumb_qvuxvs1347997318.jpg" />
          </a>
          <div class="artists-info">
            <ul class="aritists-genre-list">
              <li class="artists-genre-item">pop</li>
            </ul>
            <p class="artists-name">Ken</p>
            <p class="artists-bio">gdddfefefefe</p>
            <button type="button" class="learn-more-btn">Learn More
              <svg class="learn-more-icon" width="24" height="24">
                <use href="/icon/symbol-defs.svg#icon-arrow-caret-right"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="artists-card-item">
          <img class="artists-image"
            src="https://ftp.goit.study/img/musicbox/artist/strArtistThumb_qvuxvs1347997318.jpg" />
          </a>
          <div class="artists-info">
            <ul class="aritists-genre-list">
              <li class="artists-genre-item">pop</li>
            </ul>
            <p class="artists-name">Ken</p>
            <p class="artists-bio">gdddfefefefe</p>
            <button type="button" class="learn-more-btn">Learn More
              <svg class="learn-more-icon" width="24" height="24">
                <use href="/icon/symbol-defs.svg#icon-arrow-caret-right"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="artists-card-item">
          <img class="artists-image"
            src="https://ftp.goit.study/img/musicbox/artist/strArtistThumb_qvuxvs1347997318.jpg" />
          </a>
          <div class="artists-info">
            <ul class="aritists-genre-list">
              <li class="artists-genre-item">pop</li>
            </ul>
            <p class="artists-name">Ken</p>
            <p class="artists-bio">gdddfefefefe</p>
            <button type="button" class="learn-more-btn">Learn More
              <svg class="learn-more-icon" width="24" height="24">
                <use href="/icon/symbol-defs.svg#icon-arrow-caret-right"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="artists-card-item">
          <img class="artists-image"
            src="https://ftp.goit.study/img/musicbox/artist/strArtistThumb_qvuxvs1347997318.jpg" />
          </a>
          <div class="artists-info">
            <ul class="aritists-genre-list">
              <li class="artists-genre-item">pop</li>
            </ul>
            <p class="artists-name">Ken</p>
            <p class="artists-bio">gdddfefefefe</p>
            <button type="button" class="learn-more-btn">Learn More
              <svg class="learn-more-icon" width="24" height="24">
                <use href="/icon/symbol-defs.svg#icon-arrow-caret-right"></use>
              </svg>
            </button>
          </div>
        </li>


      </ul>

      <button class="btn-load-more">Load more
        <svg class="load-more-icon" width="24" height="24">
          <use href="/icon/symbol-defs.svg#icon-down-arrow-alt"></use>
        </svg>
      </button>
    </div>

  </div>
</section>