<section class="artists-blog" id="artists">
  <div class="container artists-markup">
    <div class="wrapper-title">
      <h1 class="title-blog">Artists</h1>
      <h2 class="subtitle-blog">Explore Your New Favorite Artists</h2>
    </div>
<div class="content">
    <div class="card-grid" id="card-grid">
      <!-- Карточки будут генерироваться динамически  -->
    </div>

    <ul class="list-cards">
      <li class="item-directions-alter">Alternative</li>
      <li class="item-directions-pop">POP</li>
      <li class="item-directions-rock">Rock</li>
      <li class="item-directions-indie">INDIE</li>
    </ul>


    <div class="reference"></div>

   <!-- кнопка для завантаження наступних данних-->
    <button class="load"><svg class="btn-icon">
      <use href="./img/images/symbol-defs.svg#icon-down-arrow-alt"></use>
      </svg>
      <span class="text">Load
        More</span></button>
  </div>
  </div>
</section>