<section class="feedback-section" id="feedback-section">
  <div class="feedback-container container">
    <h2 class="visually-hidden">Feedbacks our visitors</h2>

    <button type="button" class="swiper-button-prev custom-swiper-btn-prev">
      <svg class="icon" width="48" height="48">
        <use href="icon/symbol-defs.svg#icon-left-arrow-alt"></use>
      </svg>
    </button>

    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>
    </div>

    <button type="button" class="swiper-button-next custom-swiper-btn-next">
      <svg class="icon" width="48" height="48">
        <use href="icon/symbol-defs.svg#icon-right-arrow-alt"></use>
      </svg>
    </button>

  </div>
</section>