<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/src/css/feedback.css" />
</head>

<body>
    <container class="feedback">
        <section class="feedback-section" id="feedback-section">
            <div class="swiper">
                <div class="swiper-wrapper">

                </div>

                <div class="swiper-pagination">
                    <span class="dot first"></span>
                    <span class="dot current"></span>
                    <span class="dot last"></span>
                </div>


                <div class="swiper-button-prev custom-swiper-btn">
                    <svg class="icon" width="48" height="48">
                        <use href="../img/symbol-defs.svg#icon-left-arrow-alt"></use>
                    </svg>
                </div>
                
                <div class="swiper-button-next custom-swiper-btn">
                    <svg class="icon" width="48" height="48">
                        <use href="../img/symbol-defs.svg#icon-right-arrow-alt"></use>
                    </svg>          </div>


        </section>
    </container>
    <script type="module" src="../js/feedback.js"></script>
</body>

</html>



