<section class="feedback-section" id="feedback-section">
  <div class="feedback-container">
    <div class="swiper">
      <div class="swiper-wrapper">

      </div>

      <div class="swiper-pagination">
        <span class="dot first"></span>
        <span class="dot current"></span>
        <span class="dot last"></span>
      </div>

      <div class="swiper-button-prev custom-swiper-btn-prev">
        <svg class="icon" width="48" height="48">
          <use href="/img/symbol-defs.svg#icon-left-arrow-alt"></use>
        </svg>
      </div>

      <div class="swiper-button-next custom-swiper-btn-next">
        <svg class="icon" width="48" height="48">
          <use href="/img/symbol-defs.svg#icon-right-arrow-alt"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
