<header class="header-section">
    <div class="header-container container">
        <nav class="header-nav">
            <a class="header-logo-link" href="./index.html">
                <svg class="header-logo" width="119" height="51">
                    <use class="header-logo-icon" href="./img/images/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="header-nav-list">
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#artists-section">Artists</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#about-us-section">About Us</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#feedback-section">Reviews</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="burger-btn">
            <svg class="burger-icon" width="24" height="24">
                <use class="burger-svg" href="./img/images/symbol-defs.svg#icon-menu-alt-right"></use>
            </svg>
        </button>
    </div>
</header>

