<section class="hero">
  <div class="container hero-container">
    <h2 class="title-hero">Discover Your Next Favorite Artist Today</h2>
    <p>
      Dive into a world of music discoveries with ArtistsHub – your personal
      guide to the boundless universe of sound. Explore, filter, and learn about
      your favorite artists all in one place.
    </p>
    <a href="сюди треба вставити посилання на якір в секції Артисти"
      ><button class="hero-button" type="button">
        Explore Artists
        <img
          width="24px"
          src="../img/right-arrow.svg"
          alt="Іконка"
          class="hero-icon"
        />
      </button>
    </a>
  </div>
  <div class="hero-gallery">
    <div class="hero-img img1"></div>
    <div class="hero-img img2"></div>
    <div class="hero-img img3"></div>
    <div class="hero-img img4"></div>
    <div class="hero-img img5"></div>
    <div class="hero-img img6"></div>
  </div>
</section>
