<section class="hero">
  <div class="container hero-container">
    <div class="hero-context">
      <h1 class="title-hero">Discover Your Next Favorite Artist Today</h1>
      <p class="hero-p">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a href="#artists-section">
        <button type="button" class="hero-button" type="button">
          Explore Artists
          <img src="/img/right-arrow.svg" alt="Іконка" class="hero-icon" />
        </button>
      </a>
    </div>
    <div class="hero-gallery">
      <div class="hero-img"></div>
    </div>
  </div>
</section>
