<div class="modal-overlay-artist">
  <div class="modal-artist">
    <div class="container-modal-artist">
      <h2 class="title-modal-artist">Unlike Pluto</h2>
      <img class="image-modal-artist" src="" alt="photo artist" />
      <ul class="list-info-modal-artist">
        <li class="item-info-modal-artist">
          <h4 class="title-info-modal-artist">Years active</h4>
          <p class="text-info-modal-artist">2013–present</p>
        </li>
        <li class="item-info-modal-artist">
          <h4 class="title-info-modal-artist">Sex</h4>
          <p class="text-info-modal-artist">Male</p>
        </li>
        <li class="item-info-modal-artist">
          <h4 class="title-info-modal-artist">Members</h4>
          <p class="text-info-modal-artist">1</p>
        </li>
        <li class="item-info-modal-artist">
          <h4 class="title-info-modal-artist">Country</h4>
          <p>United States</p>
        </li>
        <li class="item-info-modal-artist">
          <h4 class="title-info-modal-artist">Biography</h4>
          <p class="text-info-modal-artist">
            Armond Arabshahi, known by his stage name Unlike Pluto, is an American
            singer, songwriter, music producer, and former DJ. He is mainly known
            for his song "Everything Black", released under the record label
            Monstercat in 2017, which he produced with Philadelphia-based vocalist
            and DJ Mike Taylor.
          </p>
        </li>
      </ul>
      <ul class="list-genres-modal-artist">
        <li class="item-genres-modal-artist">Alternative</li>
        <li class="item-genres-modal-artist">Pop</li>
        <li class="item-genres-modal-artist">Rock</li>
        <li class="item-genres-modal-artist">Indie</li>
      </ul>
      <h3 class="albums-modal-artist">Albums</h3>
      <div class="cont-albums-modal-artist">
        <h4 class="name-album-modal-artist">Ghost Gardens</h4>
        <div class="cont-track-time-link">
          <p class="track-album-modal-artist">Track</p>
          <p class="time-album-modal-artist">Time</p>
          <p class="link-album-modal-artist">Link</p>
        </div>
        <ul class="list-track-modal-artist">
          <li class="item-track-modal-artist">
              <p class="name-track-modal-artist">Rip Me Apart</p>
              <p class="time-track-modal-artist">3:02</p>
              <p class="icon-track-modal-artist">svg</p>
          </li>
          <li class="item-track-modal-artist">
            <p class="name-track-modal-artist">Dig</p>
            <p class="time-track-modal-artist">2:54</p>
            <p class="icon-track-modal-artist">svg</p>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
