.about-us {
  padding: 64px 0;
}

.about-img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 48px;
}

.about-content {
  text-align: left;
}

.about-icon {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  fill: aliceblue;
}

.about-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.about-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .about-img {
    margin-bottom: 24px;
  }

  .about-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }

  .about-title {
    margin-bottom: 24px;
  }

  .about-text {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .about-us {
    padding: 112px 0;
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .about-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }

  .about-img {
    max-width: 640px;
    height: 664px;
    margin: 0;
  }

  .about-content {
    max-width: 640px;
  }

  .about-title {
    font-size: 60px;
  }
}
