/* HEADER-MOB*/

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 64px;
  background-color: rgba(6, 3, 7, 1);
  display: flex;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.header-logo {
  fill: #fff;
}

.header-nav-list {
  font-family: 'IBM Plex Sans', sans-serif;
  /* display: none; */
}

.burger-btn {
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #fff;
}

/* HEADER-TAB */

@media (min-width: 768px) {
  .header-section {
    height: 72px;
    display: flex;
  }
  .header-container {
    width: 704px;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
    font-size: 18px;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #764191;
  }

  .burger-btn {
    display: none;
  }
}

/* HEADER-DESK*/

@media screen and (min-width: 1440px) {
  .header-section {
    display: flex;
  }
  .header-container {
    width: 1440px;
  }
}
