.hero {
  background-color: var(--Color-Scheme-3-Foreground, #23132b);
  color: var(--Color-Scheme-1-Text, #ffffff);
  position: relative;
  min-width: 100vw;
  margin-top: 64px;
}
.hero::before,
.hero::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 8vh;
  z-index: 0;
}

.hero::before {
  top: 0;
  background: linear-gradient(to top, rgba(35, 19, 43, 1) 0%, #060307 100%);
}

.hero::after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(35, 19, 43, 1) 0%, #060307 100%);
}

.hero-container {
  text-align: left;
  overflow: hidden;
}
.hero-context {
  padding-bottom: 64px;
  position: relative;
  z-index: 2;
}

.title-hero {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 110%;
  letter-spacing: -1%;
}
.hero-p {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 150%;
  letter-spacing: 0;
}
.hero-button {
  background-color: var(--Color-Affair, #764191);
  display: flex;
  width: 100%;
  font-size: 18px;
  border: none;

  color: var(--Color-Scheme-1-Text, #ffffff);
  border-radius: 12px;

  padding: 10px 0;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 150%;

  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero-button:hover,
.hero-button:focus,
.hero-icon:hover,
.hero-icon:focus {
  color: #7a3145;
  background-color: #d4bfc4;
}
.hero-icon {
  margin-left: 12px;
}

.hero-img {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  background-image: url('/img/Content-mob-1x.webp');
}

@media only screen and (min-resolution: 2x),
  (-webkit-min-device-pixel-ratio: 2x) {
  .hero-img {
    background-image: url('/img/Content-mob-2x.webp');
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    margin-top: 32px;
  }
  .hero-context {
    padding-bottom: 32px;
  }
  .title-hero {
    margin-bottom: 24px;
  }
  .hero-p {
    font-size: 20px;
    margin-bottom: 32px;
  }
  .hero-button {
    width: 246px;
    margin-bottom: 0;
  }

  .hero-img {
    background-image: url('/img/Content-tab-1x.webp');
  }
}

@media only screen and (min-resolution: 2x),
  (-webkit-min-device-pixel-ratio: 2x) {
  .hero-img {
    background-image: url('/img/Content-tab-2x.webp');
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    margin-top: 0;
  }
  .hero-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .hero-context {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

    padding-bottom: 0;
  }
  .title-hero {
    font-size: 84px;
  }

  .hero-img {
    background-image: url('/img/Content-desk-1x.webp');
    background-position: left;
    width: 50vw;
    height: 100vh;
    background-size: contain;
    background-position: right;
  }
}
@media only screen and (min-resolution: 2x),
  (-webkit-min-device-pixel-ratio: 2x) {
  .hero-img {
    background-image: url('/img/Content-desk-2x.webp');
  }
}
